:root {
  --main-bg-color: #13141C;
  --sidebar-color: #1E202C;
  --settings-color: #323652;

  --white-color: #FFFFFF;
  --black-color: #000000;
  --blue-color: #0B95FF;
  --yellow-color: #FAC919;
  --gray-color: #262837;
  --lightgray-color: #888CAD;
}